.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.ProjectList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.projectCard {
  max-width: 340px; 
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .projectTitle {
    font-size: 22px;
    padding: 10px 20px;
    font-weight: bold;
  }

  .projectDescription {
    padding: 0 20px 10px;
    font-size: 16px;
    color: #666;
    flex-grow: 1;
  }

  .technologies {
    font-size: 14px;
    color: #777;
    padding: 10px 20px 20px;
    background-color: #f0f0f0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
  }
}

@media (max-width: 910px) {
  .ProjectList {
    gap: 20px;
  }

  .projectCard {
    max-width: 300px;

    .projectTitle {
      font-size: 18px; 
      width: 100%;
    }  

    .projectDescription {
      width: 100%;
      font-size: 14px;
    }
  }

 
  .projectDescription, .technologies {
    font-size: 14px; 
  }
}

@media (max-width: 740px) {
  .projectCard {
    max-width: 100%;

    .projectTitle {
      font-size: 14px; 
      width: 100%;
    }  

    .projectDescription {
      width: 100%;
      font-size: 12px;
    }
  }
}
