.projectsContainer {

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
  }
}

.projectCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectCard {
  background: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  height: 500px;
  transition: transform 0.5s ease;
  position: relative;

  img {
    max-width: 300px;
    background: #202020;
  }
}

.projectCard:not(:first-child) {
  transform: translateX(-100%);
}

.projectCard.active {
  transform: translateX(0);
}

.projectTitle {
  font-size: 20px;
  background: #202020;
  color: #fff;

}

.projectDescription {
  font-size: 16px;
  color: #666;
  background: #202020;
  color: #fff;

}

.technologies {
  font-size: 14px;
  color: #888;
  background: #202020;
}

.containerBtn {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;

  button {
    border: none;
    border-radius: 7px;
    color: #fff;
    background: #202020;
    max-width: 300px;
    padding: 10px;
  }
}